#map-canvas {
  width: 100%;
  height: 500px;
}

.SvgOverlay {
  position: relative;
  z-index: 99;
}

.SvgOverlay svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 8000px;
  height: 8000px;
}